<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <h1>Welcome, {{user_name}}</h1>
    <div class="subscription">
        <table border=1>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Year</th>
                <th>Artist Image</th>
            </tr>
            {% for subscription in subscriptions %}
                <tr>
                    <td>{{ subscription.title }}</td>
                    <td>{{ subscription.artist }}</td>
                    <td>{{ subscription.year }}</td>
                    <td><img src="{{ subscription.img_url }}" alt="{{ subscription.artist }}"/></td>
                    <td>
                        <form action="{{ url_for('main_page') }}" method="post">
                            <input type="hidden" name="subscription_title" value="{{ subscription.title }}">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <p><a href="{{ url_for('logout')}}">Logout</a></p>
    </div>
    
</body>
</html>